<!DOCTYPE html>
<html lang="id">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GKI Maleo Raya</title>
    </head>

    <body>

        <!-- Header Section -->
        <header>
            <h1>GKI Maleo Raya</h1>
            <p>Selamat datang di Website Gereja Kristen Indonesia Maleo Raya</p>
        </header>

        <!-- Main Content Section -->
        <div>
            <div class="login-container">
                <button class="login-button" (click)="onClick('/admin-login')">Login Admin</button>
                <button class="login-button" (click)="onClick('/jemaat-login')">Login Jemaat</button>
            </div>
        </div>
        

        <!-- Footer Section -->
        <footer>
            <p>&copy; 2025 GKI Maleo Raya. Semua Hak Cipta Dilindungi.</p>
        </footer>

    </body>

</html>
