<!DOCTYPE html>
<html lang="id">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Peminjaman Barang</title>
    </head>

    <body>
        <div class="container">

            <br />
            <br />

            <h1>Menu Peminjaman Barang</h1>

            <br />

            <div class="menu-buttons">
                <button class="pinjam-barang-button" [routerLink]="'/jemaat-pinjam-barang'">Pinjam Barang</button>
                <button class="history-peminjaman-barang-button" [routerLink]="'/jemaat-history-peminjaman-barang'">History Peminjaman Barang</button>
            </div>

        </div>
    </body>

</html>