<!DOCTYPE html>
<html lang="id">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Admin Barang</title>
    </head>

    <body>
        <div class="container">

            <br />
            <br />

            <h1>Menu Admin Barang</h1>

            <br />

            <div class="menu-buttons">
                <button class="list-barang-button" [routerLink]="'/admin-list-barang'">List Barang Inventaris</button>
                <button class="kelola-peminjaman-barang-button" [routerLink]="'/admin-kelola-peminjaman-barang'">Kelola Peminjaman Barang</button>
            </div>

        </div>
    </body>

</html>